* {
    margin: 0;
    padding: 0;
}

body {
    mix-blend-mode: multiply;
    background: #f4f4f4;
}

html,
body {
    width: 100%;
    height: 100%;
}

button {
    position: relative;
    color: #555;
}

.emotion-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.mic-wrap {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 50px;
    margin: auto;
    height: 50px;
    background-color: #555;
    border-radius: 50%;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
}

.mic-wrap svg {
    transition: all 0.5s
}

.mic-wrap.active svg {
    opacity: 0;
}

.mic-wrap .mic {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 40px;
}

.fill {
    fill: #000;
}

.line {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

.face-wrap {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto
}

#face {
    width: 100%;
}

#mouth path {

}