* {
    margin: 0;
    padding: 0;
}

body {
    mix-blend-mode: multiply;
    background: #f4f4f4;
}

html,
body {
    width: 100%;
    height: 100%;
}

button {
    color: #fff;
}

.emotion-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

.mic-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 115px;
    margin: auto;
    height: 120px;
}

.mic-wrap svg {
    transition: all 0.5s
}

.mic-wrap.active svg {
    opacity: 0;
}

.mic-wrap .mic {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 40px;
}

.fill {
    fill: #000;
}

.line {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 1px;
}