* {
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 500;
    color: #434a50;
    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
    mix-blend-mode: multiply;
    background: #f4f4f4;
}

html,
body {
    width: 100%;
    height: 100%;
}

button {
    position: relative;
    color: #555;
}

.emotion-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 50px;
}

.header {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ddd;
    z-index: 9999;
}

.header .emotion-title {
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
}

.voice-text {
    position: relative;
    padding: 40px 30px 20px 30px;
    text-align: center;
}

.voice-text p {
    opacity: 1;
    transition: all 0.5s ease;
    font-size: 18px;
}

.voice-text .intro {
    color: #888;
}

.voice-text .hearing {}

.voice-text .result {}

.emotion-text {
    position: absolute;
    top: 66%;
    padding: 20px 30px;
    text-align: center;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.emotion-text .emotion-result {
    font-size: 16px;
    margin-bottom: 10px;
}

.emotion-text ul {
    font-size: 0;
}

.emotion-text ul li {
    display: inline-block;
    padding: 4px 10px;
    margin: 5px;
    background-color: #e8e8e8;
    border-radius: 20px;
    font-size: 13px;
    color: #777;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.mic-wrap {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 50px;
    margin: auto;
    height: 50px;
    background-color: #555;
    border-radius: 50%;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
}

.mic-wrap svg {
    transition: all 0.5s
}

.mic-wrap.active svg {
    opacity: 0;
}

.mic-wrap .mic {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 40px;
}

.fill {
    fill: #000;
}

.line {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

.face-wrap {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 40px;
    box-sizing: content-box;
}

#face {
    width: 100%;
}

#mouth path {}