html,body{
    width:100%;
    height:100%;
    overflow: hidden;
    margin:0;
    padding:0;
}
*{
    color:#000842;
    margin:0;
    padding:0;
}
body{
    font-family: "SF Pro KR","SF Pro Text","Yoon Gothic","Myriad Set Pro",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","SF Pro Icons","Apple Legacy Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
    background:#fff;
}
.background{
    position: relative;;
    width:100%;
    height:100%;
}
.background-svg{
    height:100%;
    right:0;
}
.background.dark{
    background: #000842;
}
.title-wrap{
    position: absolute;
   left:100px;
    top:30%;
}
.title-wrap h1{
    color:#222;
    font-size: 70px;
    font-weight: 700
}
.title-wrap p{
    font-size: 24px;
    color:#888;
    margin-top:20px;
}
svg {
    position: absolute;

}
.cloud{
    width:750px;
    top:0px;
    right:70px;
}
.owl{
    min-width:250px;
    width:300px;
    right:300px;
    top:150px;
}
.rabbit{
    width:600px;
    bottom:16px;
    mix-blend-mode: color-dodge;
    left:0;
}
.butterfly{
    width:100px;
    mix-blend-mode: color-dodge;
    bottom:300px;
}
.flowers{
    width:500px;
    mix-blend-mode: color-dodge;
    bottom:150px;
    right:150px;
}
.light{
    width:100%;
    top:100px;
    right:0px;
    height: 100%;
    mix-blend-mode: screen
}
.main-tree{
    width:800px;
    top:0px;
    transform: translate(0px,-100px);
    right:0px;
    clip-path: url(#myClip);
}
.sub-trees{
    height:100%;
    left:50px;
}
.ground{
    position: absolute;
    height:150px;
    width: 100%;
    background: #000842;
    border-top:3px solid #fff;
   bottom:0;
   left:0;
}